html,
body {
  min-width: 290px;
  color: #46474d;
  background-color: #fefeff;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
  margin: 0px;
  max-width: 100%;
}



header {
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
}

#navbar {
  position: fixed;
  min-width: 300px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgb(96, 173, 66, 0.8);
  background-color:rgb(245, 244, 247);   
  overflow-y: scroll;    
}

#navbar header{
    color:rgb(7, 70, 141);
    background-color: rgb(245, 236, 245);
    text-align: center;
    font-size: 1.3em;
    font-weight: thin;  
    margin: 0;
    padding-bottom: 30px; 
}

#navbar header h1{
  margin-bottom: 0px;
  font-size: 1.2em;
}

#navbar .logo-main{   
  width: auto;
  height: 30px;
}

#navbar sub{
    color:rgb(7, 70, 141);
    text-align: center;
    font-size: 1.1em;
    font-weight: thin;
}

.nav-header-img{
  width: 100%;  
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icon-home{
  margin-bottom: -9px;
  font-size: 28px;
  margin-right: 15px;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li a {
  color:rgb(7, 70, 141);
  /* border-top: 1px solid rgb(7, 70, 141, 0.5); */
  /* box-shadow: 2px 2px 3px rgba(7, 70, 141, 0.3); */
  border: 1px solid rgb(7, 87, 141, 0.05);
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar li a:hover {
  background-color:rgb(7, 70, 141);  
  color:rgb(245, 236, 245); 
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color:rgb(7, 70, 141);
  text-decoration: none;
  cursor: pointer;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}

.titulo-inicio{
  display: flex;
  flex-direction: row;   
  justify-content: center;
  align-items: center;
  margin: 0  0  0 300px; 
  background-image: linear-gradient(rgba(123, 104, 238, 0.5), rgba(123, 104, 238));
}

.titulo-inicio h2{
  color: black; 
  font-size: 2.4rem;
}

.logo-main-header{
  margin: 20px 0 20px 50px;
  height: 100px;
}

.header-img-container{
  height: 70px;  
  margin: 0  0  0 300px;    
  background-color: rgb(245, 244, 247);
  padding: 5px 0;
}

.logo-tech{  
  height: 90%;
  width: auto;
  max-width: 30%;  
  margin: 0 30px;
}

#main-doc {
  position: absolute;
  left: 310px;
  right: 0;
  /* margin: 0 0 0 310px; */
  padding: 20px;
  margin-bottom: 110px;
  text-wrap:wrap;
  overflow-wrap: break-word;
  width: auto;
}

.main-section{  
  max-width: 100%;
  margin: 0 auto;
  
}

section article {
  color: #46474d;
  margin: 15px 15px 70px 15px;
  font-size: 0.96em;
  width: auto;
}
section h2{
  color: #46474d;  
  font-size: 1.5em;
  font-weight:lighter;
  max-width: 100%;
}
section h3{
  color: #46474d; 
  font-size: 1.3em;
  font-weight: lighter;
  margin-top: 25px;
  max-width: 100%;
}
 section ul, section ol{
  width: auto;
 }

section li {
  margin: 15px 0px 0px 20px;
  width: auto;
}

code{
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  right: 5px;
  word-break: normal;
  word-wrap:break-word;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  color:steelblue !important; 
  width: auto;
}

.code-parametro, .code-comment, .code-highlight, .code-main-keyword {
  word-break: normal !important;
  word-wrap: break-word !important;
}
.code-parametro{
  color: rgb(214, 6, 214) !important;
}
.code-highlight{
 color: blue !important;
}
.code-main-keyword{
  color:mediumslateblue !important;
}
.code-comment {
  color:rgb(159, 159, 160) !important;
}

.notas{
  background-color: rgba(39, 218, 39, 0.445);
  border-radius: 0.5rem;
  padding: 7px;
  box-shadow: 4px 4px 2px 2px #46474da2 ;
  margin: 10px 10px 20px 10px;
}
.notas-light{
  color: mediumslateblue;
}

.project-cap{
  margin-left: 10px;
  max-width: 90%;
  height: auto;
}

.arrow-icon{
  margin-bottom: -3px;
}
.dir-arrow{
  background-color: rgb(245, 244, 247);
  width: fit-content;
  max-width: 90%;
}

/*footer firma*/

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.sign-div{
  background-color: rgb(7, 87, 141, 0.1);
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px rgb(7, 87, 141, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo-sign, .titulo-sign-sub{    
  color: rgb(133, 77, 206);
  margin: 0;
}

.titulo-sign{
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 1.4rem;
}
.titulo-sign-sub{
  font-size: 1.0rem;
  font-family: 'Courier New', Courier, monospace;
}
#img-titulo{
  height: 55px;    
}


/* condiciones de tamaño de pantalla */

@media only screen and (max-width: 1400px) {
  .header-img-container {
    display: none;
  }
  .titulo-inicio h2{
    font-size: 2rem;
  }
  .logo-main-header{
    height: 80px;
  }

}

@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #inicio{
    display: none;
  }
  #navbar ul {
    border: 1px solid rgb(7, 87, 141, 0.05);
    height: 207px;
  }
  #navbar {
    /* position: absolute; */
    position: fixed;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 225px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }
  #navbar header{
    margin: 0;
    padding: 0;
    max-height: fit-content;
  }
  #navbar header sub{
    display: none;
  }
  #navbar header h1{
    margin: 0;
    font-size: smaller;
  }
  .nav-header-img{
    margin: 0;
    padding: 0;
  }
  #main-doc {
    position: relative;
    left: 0;
    margin-left: 0px;
    margin-top: 200px;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}
