html{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    min-height: 100vh;    
    min-width: 290px;
    color: #46474d;    
    background-color: #fefeff;   
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;  
    position: relative;  
}

a{
    text-decoration: none !important;
}

/*Menu header*/
header{  
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 2;
    margin: 0px !important;
    padding: 0px !important;
  }
  
  nav {
    width: 100%;
    height: auto;  
    display: flex;
    justify-content: start;   
    background-color: #9a86ff;    
    margin: 0px !important;
    padding: 0px !important;
  }
  
  .dropdown{   
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  
  .nav-bar{
    display: none;
  }
  
  .nav-bar.show{
    display: flex;
    flex-direction: column;
    font-size:13px; 
    margin-top: 25px; 
  }
  
  .nav-bar li {
    padding: 10px 0; 
    color: white;
    margin: 0px;
    list-style-type: none;
    z-index: 1;
    font-size: 15px;
    border-top: solid 1px rgb(79, 64, 206);
  }
  .dropdown a{
    color: white;
    text-decoration-line: none;
  }
  .dropdown a li:hover{  
    background-color: #9a86ff;  
    color: rgb(79, 64, 206);
  
  }
  
  .hamburger {
    border: 0px;
    background-color: transparent;
    color:#f5f6f7;
    margin: 25px 25px 0 25px;  
    font-size: 20px;
    padding: 0px;
  }
  
  .hamburger:hover{
    color: rgb(79, 64, 206);
  }

  /*Logo header*/
.sign-div{
    background-color: rgb(7, 87, 141, 0.1);
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px rgb(7, 87, 141, 0.05);
    position: absolute;
    right: 10px;
    text-align: center;
}

.titulo-sign, .titulo-sign-sub{    
    color: rgb(247, 244, 246);
    margin: 0;
    text-align: center;
}

.titulo-sign{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1.1rem;
    font-weight:lighter;
}
.titulo-sign-sub{
    font-size: 0.8rem;
    font-family: 'Courier New', Courier, monospace;
}

#img-titulo{
    height: 35px;    
}

/*Título*/
.titulo{
    width: 100%;
    background-color: rgb(245, 244, 247);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    
    padding-top: 80px;
}

.titulo h1{
    font-size: 50px;
    color: rgb(7, 87, 141);
    padding: 30px 0;
    margin: 0;
}


/*Sección principal*/
.main-section{    
    width: 100%;
    margin-top: 0px;
    background-image:url("../images/bg-keyboard.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;     
    align-items: center;
    min-height: 70vh;
    position: relative;
}

#menu-dev{
    width: 100%;
    display: flex;    
    flex-direction: row;
    justify-content: space-around;    
    align-items: space-around;    
    /*align-content: space-around; */    
}

.opciones-home{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-color: rgb(245, 244, 247, 0.7);    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(7, 87, 141) !important;
}

.opciones-home:hover{   
    background-color: rgb(7, 87, 141, 0.4);    
    display: flex;
    color: rgb(245, 244, 247, 0.7) !important;    
}

a{
    text-decoration: none;
}

.index-icon{
    height: 60px;
    width: auto;
    font-size: 60px;
}

.go-home-div{
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgb(7, 87, 141, 0.4);
    padding: 5px;
}

.logo-home{
   font-size: 1.3rem;
   color: rgb(245, 244, 247)
}
.logo-home:hover{
    
    color: rgb(245, 244, 247,0.7)
 }


 /*Contacto*/
 .redes{
    text-align: center;
    padding-bottom: 50px;
 }
 .redes h3{
    font-size: 2rem !important;
    color: rgb(7, 87, 141);
    padding: 80px 0 30px 0;
    margin: 0;
}
.redes h4{
    color: rgb(7, 87, 141);
    padding: 30px 0;
    margin: 0;
    font-size: 1.8rem !important;
    font-weight: lighter;
}

.redes i{
    margin: 15px;
    font-size: 50px;
    color:#9a86ff;
  }
  
  .redes i:hover{
    margin-top: 10px;
    /*font-size: 55px;*/
    color:#EEBBC3;
  }
  
  .redes h3{
    font-size: 22px;
    font-weight: lighter;
  }

 
@media only screen and (max-width: 800px) {
    
    .sign-div{
        display: none;

    }
    #menu-dev, .titulo{
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    }

    .titulo h1{
        font-size: 30px;
    }
}