.info-prox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: rgba(240, 255, 255, 0.521);
    color: rgb(126, 68, 201)!important;
    padding: 30px 0;
}